# Module 6 Exercises - Correlation and Models

### Exercise 1:

From the datasets folder, load the "tamiami.csv" file as a dataframe. Rename the columns (in order) to the following:

- location
- sales
- employees
- restaurants
- foodcarts
- price

Then do a correlation table on that dataframe. What features (columns) are correlated? What features aren't correlated?

In [1]:
import pandas as pd
import numpy as np

In [2]:
Location = "datasets/tamiami.csv"
df = pd.read_csv(Location)
df.head()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
0,1,100,1600,8,12,4.16
1,2,80,1200,6,13,4.63
2,3,450,2800,19,6,0.50
3,4,580,4300,19,2,0.47
4,5,100,1400,6,13,4.24

In [3]:
df.dtypes

Cart Location                             int64
Hot Dog Sales                             int64
Employees in Nearby Office Buildings      int64
Num of Nearby Restaurants                 int64
Num of Other Food Carts Nearby            int64
Price                                   float64
dtype: object

In [4]:
df.rename(columns={'Cart Location' : 'location',
                  'Hot Dog Sales' : 'sales',
                  'Employees in Nearby Office Buildings':'employees',
                  'Num of Nearby Restaurants' : 'restaurants',
                  'Num of Other Food Carts Nearby': 'foodcarts',
                  'Price' : 'price'}, inplace = True)

df.head()

   location  sales  employees  restaurants  foodcarts  price
0         1    100       1600            8         12   4.16
1         2     80       1200            6         13   4.63
2         3    450       2800           19          6   0.50
3         4    580       4300           19          2   0.47
4         5    100       1400            6         13   4.24

In [5]:
df.corr()

             location     sales  employees  restaurants  foodcarts     price
location     1.000000  0.042705  -0.068923     0.049701   0.077219 -0.138444
sales        0.042705  1.000000   0.943238     0.913674  -0.919762 -0.966378
employees   -0.068923  0.943238   1.000000     0.856976  -0.874692 -0.881540
restaurants  0.049701  0.913674   0.856976     1.000000  -0.761793 -0.933951
foodcarts    0.077219 -0.919762  -0.874692    -0.761793   1.000000  0.860154
price       -0.138444 -0.966378  -0.881540    -0.933951   0.860154  1.000000

### Exercise 2:

Using the dataframe from the previous exercise, choose features (columns) to create a linear regression formula to predict sales. Try it with and without the y-intercept. How does it make a difference? Does adding or removing features in your model formula make a difference in the output?

In [6]:
import statsmodels.formula.api as smf

In [8]:
result = smf.ols('sales ~ location + restaurants + foodcarts + price', data = df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.969
Model:                            OLS   Adj. R-squared:                  0.964
Method:                 Least Squares   F-statistic:                     197.2
Date:                Wed, 21 Aug 2019   Prob (F-statistic):           1.62e-18
Time:                        11:54:17   Log-Likelihood:                -144.95
No. Observations:                  30   AIC:                             299.9
Df Residuals:                      25   BIC:                             306.9
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     445.0109     72.877      6.106      0.000     294.919     595.103
location       -0.0310      0.820     -0.038      0.970      -1.720       1.658
restaurants     7.1781      3.724      1.927      0.065      -0.492      14.848
foodcarts     -14.8542      3.179     -4.673      0.000     -21.401      -8.307
price         -49.2670     15.997     -3.080      0.005     -82.214     -16.320
==============================================================================
Omnibus:                        1.135   Durbin-Watson:                   2.103
Prob(Omnibus):                  0.567   Jarque-Bera (JB):                0.909
Skew:                          -0.134   Prob(JB):                        0.635
Kurtosis:                       2.191   Cond. No.                         280.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""